.gantt_item {
    font-weight: normal;
    background: #5d4037;
}

.gantt_item.normal_item {
    background: #1e88e5;
}

.gantt_item.testing_item {
    background: #00acc1;
}

.gantt_item.unavailable_item {
    background: #757575;
}

.gantt_item.focused_item {
    font-weight: bold;
    border: 3px solid #E6981E;
}

.gantt_item>span {
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
