<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tauri + Vue 3 App</title>
</head>

<body>
<div id="sub-chart"></div>
<script type="module">
    import { createApp } from 'vue'
    import SubChart from './sub-chart.vue'
    import vuetify from './../../plugins/vuetify'
    import { loadFonts } from './../../plugins/webfontloader'
    import VueResizeObserver from "vue-resize-observer";

    loadFonts()

    createApp(SubChart)
      .use(vuetify)
      .use(VueResizeObserver)
      .mount('#sub-chart')
</script>
</body>
</html>
